<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571207790709-eosbspqu48psjp8copon9836vovgn7cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571207790709-eosbspqu48psjp8copon9836vovgn7cv</string>
	<key>API_KEY</key>
	<string>AIzaSyBPDbvIYo9HU8-HSMBq1XKlEhJ-wEAveDo</string>
	<key>GCM_SENDER_ID</key>
	<string>571207790709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStripeExample</string>
	<key>PROJECT_ID</key>
	<string>flutter-stripe-example-97c23</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-stripe-example-97c23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571207790709:ios:1dbb78e96ff98a3801c83c</string>
</dict>
</plist>